<h1>Home</h1>
<br>
<h3>Welcome to your inventory tracker!</h3>
<br>
<p> You can check your items' in stock following the link below. On the inventory, you will have the possibility to create a new item, view one item, delete it or update it. Updating it will also allow you to reassign the item to a new warehouse if necessary!</p>
<p>See all items in stock: <%= link_to "All items", items_path%></p>
<br>
<br>
<p> You can also check a list of all your warehouses, create a new one and view the stock in each warehouse by clicking on 'view'.</p>
<p>See all warehouses: <%= link_to "Warehouses", warehouses_path%></p>
