<h1>Add a new item to your inventory</h1>

  <div class="card-body">
    <%= render "form", item: @item %>
  </div>

<%= link_to  "Inventory", items_path, class: "btn btn-secondary mt-3"  %>
<%= link_to  "Home", root_path, class: "btn btn-secondary mt-3"  %>
